table {
    table-layout: fixed;
    /* word-wrap: break-word; */
    /* font-size: 11px; */
    /* font-family: 'Space Mono', monospace; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Source Code Pro', monospace;
    font-size: 11px;
}

table th,
table td {
    overflow: hidden;
}

table>thead>tr {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: green;
    font-size: 1.2em;
}

.id_column {
    width: 25px;
}

.column_10pct {
    width: 10%;
}

.ip_column {
    width: 8%;
}

.details_column {
    min-width: 13%;
}

.column_2pct{
    width: 2%;
}

.width_15px{
    width: 15px !important;
}
.icon_column {
    width: 25px !important;
}

.column_3pct {
    width: 03%;
}

.column_4pct {
    width: 04%;
}

.column_5pct {
    width: 05%;
}

.column_6pct {
    width: 06%;
}

.column_7pct {
    width: 07%;
}
.column_8pct {
    width: 08%;
}

.action_column {
    width: 04%;
}

.column_35pct {
    width: 35%;
}

.upright_text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.table-condensed>tbody>tr>td {
    padding: 3px;
    line-height: 1;
}

.table-super-condensed>tbody>tr>td {
    padding: 1px;
    line-height: 1;
    border: 1px solid #f4f4f4;
}

.table-50percent {
    width: 50%;
    margin: 0 auto;
}

.table-25percent {
    width: 25%;
    margin: 0 auto;
}

.table-75percent {
    width: 75%;
    margin: 0 auto;
}

.table-95percent {
    width: 95% !important;
    margin: 0 auto;
}

.table>tbody>tr>td.milestone_tbl_label {
    line-height: 20px;
    width: 60%;
    vertical-align: middle;
    padding-left: 5px;
    align-content: center;
}

.table>tbody>tr>td.milestone_tbl_normal {
    vertical-align: middle;
    padding-left: 10px;
}

.table>tbody>tr.disabled {
    cursor: not-allowed;
    background-color: #eeeeee;
    color: darkgrey;
    opacity: 1;
}

.table>tbody>tr.disabled a {
    color: currentColor;
    /* display: inline-block; */
    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

.table>tbody>tr>td.disabled {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1;
}

.table>tbody>tr.status_failed {
    background-color: #F8B8B2;
    color: #250D65;
}

.table>tbody>tr.inuse {
    cursor: progress;
    background-color: #E9F5AF;
    color: #112A46;
}

.table>tbody>tr.inuse a {
    color: currentColor;
    /* display: inline-block; */
    text-decoration: none;
}

/* .table>tbody>tr>td.inuse {
    cursor: progress;
    background-color: #E9F5AF;
    color: #112A46
} */

.table>tbody>tr>td.status_failed {
    /* cursor: not-allowed; */
    background-color: #9E2B2B;
    color: #ffffff;
    opacity: 1;
}

.table>tbody>tr>td.status_failed a {
    /* cursor: not-allowed; */
    color: #ffffff;
    text-decoration: underline;
    /* opacity: 1; */
}

.table>tbody>tr>td.status_warning {
    /* cursor: not-allowed; */
    background-color: #f0ad4e;
    color: #151313;
    opacity: 1;
}

.table>tbody>tr>td.status_warning a {
    /* cursor: not-allowed; */
    color: #151313;
    text-decoration: underline;
    /* opacity: 1; */
}

/* DATA TABLE SETTINGS */

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 4px 8px;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 4px 8px;
}

.table>tbody>tr>td.disabled {
    /* cursor: not-allowed; */
    background-color: #eeeeee;
    opacity: 1;
}

.table>tbody>tr.strong {
    font-weight: bold;
}